<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Login Now</h1><BR>
        <main>
            <div class="for">
            <form  method="post" action="/log">
            <h1>CONTACT US</h1>
            <input type="text" name="name" placeholder="name"/><br><br>
            <input type="email" name="email" placeholder="email"/><br><br>
            <input type="number" name="number" placeholder="mobile"/><br><br>
          
            <button type="submit" class="submit">Login</button>
        </form>
    </div>
    </main>
</body>
</html>